header{

    .pre-nav {
        background-color: rgb(3, 127, 243);

        .container {            
            height: 30px;
            display: flex;
            align-items: center;
            color: white;
            font-weight: bold;
            justify-content: flex-end;
    
            div {
                padding: 0 12px;
            }
        }

    }

    nav {
        background-color: white; 
        display: flex; 
        align-items: center;

        .nav-logo {
            img {
                width: 60px;
                margin: 20px;
            }
        }

        .nav-menu {
            margin:0 auto;
            
            a{
                text-decoration: none;
            }
            
            ul {
                display: flex;
                font-size: 20px;
                
                li {
                    list-style: none;
                    margin-left: 18px;
                }
            }
        }



    }
}



main{

    .container-fluid{
        display: flex;
        flex-wrap: wrap;
        
        height: 100%;
        background-color: rgb(41, 40, 40);

        .comic{
            width: calc(100% / 6) ;
        }
    }


}



footer{
    color: white;
    background-image: url('/images/footer-bg.jpg');
    background-size: cover;
    
    .container {
        overflow: hidden;
        display: flex;
        position: relative;
        justify-content: space-between;

        .list-container {
            display: flex;
            .list-content {
                padding-right: 20px;
                ul {
                    padding-bottom: 20px;
                    li {
                        margin-top:9px;
                        list-style: none;
                        color: rgba(247, 245, 245, 0.5);
                    }
                }
            }
        }

        img {
            position: absolute;
            right: 0;
            top: -20%;
            width: 500px;
        }

    }
}