header{

    .pre-nav {
        background-color: rgb(3, 127, 243);

        .container {            
            height: 30px;
            display: flex;
            align-items: center;
            color: white;
            font-weight: bold;
            justify-content: flex-end;
    
            div {
                padding: 0 12px;
            }
        }

    }

    nav {
        background-color: white; 
        display: flex; 
        align-items: center;

        .nav-logo {
            img {
                width: 60px;
                margin: 20px;
            }
        }

        .nav-menu {
            margin:0 auto;
            
            a{
                text-decoration: none;
            }
            
            ul {
                display: flex;
                font-size: 20px;
                
                li {
                    list-style: none;
                    margin-left: 18px;
                }
            }
        }

    }

    .jumbo-container{
        height: 420px;
        background-image: url('/images/jumbotron.jpg');
        background-size: cover;
    }
    
}














main{

    .container-fluid{
        padding-top:30px;
        padding-left:80px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        
        height: 100%;
        background-color: rgb(41, 40, 40);

        .comic{
            font-size: 14px;
            text-align: center;
            width: calc(100% / 6) ;

            img{
                width: 150px;
                height: 180px;
            }
        }
    }

}





footer{

    .blue-row{
        background-color: rgb(2, 130, 249);
        color: white;
        padding: 50px 0;
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        
        .content {
        color: white;
        display: flex;
        align-items: center;  
        
            .content-text {
                white-space: nowrap;
            }

            img {
                max-height: 40px;
                max-width: 40px;
                margin-right: 10px;
            }
        }
    }
    
    color: white;
    background-image: url('/images/footer-bg.jpg');
    background-size: cover;
    
    .container {
        overflow: hidden;
        display: flex;
        position: relative;
        justify-content: space-between;

        .list-container {
            display: flex;
            .list-content {
                padding-right: 20px;
                ul {
                    padding-bottom: 20px;
                    li {
                        margin-top:9px;
                        list-style: none;
                        color: rgba(247, 245, 245, 0.5);
                    }
                }
            }
        }

        img {
            position: absolute;
            right: 0;
            top: -20%;
            width: 500px;
        }

    }
}